@font-face {
    font-family: "Proxima Nova";
    src: url("https://s3.amazonaws.com/validity-static-assets/js/vtp-static/ProximaNova-Reg.otf");
}
  
@font-face {
    font-family: "Proxima Nova Light";
    src: url("https://s3.amazonaws.com/validity-static-assets/js/vtp-static/ProximaNova-Light.otf");
}

body {
    font-family: "Proxima Nova";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Proxima Nova";
}